
export(addPlane.z)
export(getGPSdata)
export(points2Plane)
export(riv2Bathy)
export(riv2FlowLayers)
export(riv2FlowPointCloud)

import(rgdal)
import(R.matlab)
import(sp)
import(geometry)
import(RColorBrewer)
import(classInt)
import(maptools)
import(raster)
