# This needs cleaning up.

import( rgdal, 
        R.matlab, 
        geometry, 
        sp, 
        RColorBrewer, 
        classInt, 
        maptools, 
        raster
)

export( riv2FlowLayers,
        riv2FlowPointCloud,
        getGPSdata,
        points2Plane,
        addPlane.z
)
